*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*~
\#*\#

.classpath
.factorypath
.project
.settings
gradle
gradlew
gradlew.bat
eclipsebin

bin
gen
build
out
lib

target
pom.xml.*
release.properties
build.log

.idea
classes

obj


dependency-reduced-pom.xml
